@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-cairo), var(--font-rubik), var(--font-outfit), sans-serif;
}
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #eaeaea;
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: transparent;
}

.rdt_TableHeadRow,
.rdt_TableRow {
  border-bottom-color: #f0f1f3 !important;
}
.rdt_TableHeadRow {
  background-color: #f9f9fc !important;
  font-size: 14px;
}
.rdt_Pagination {
  border-top-color: #f0f1f3 !important;
}

.rdt_TableCol,
.rdt_TableCell {
  text-align: center !important;
  display: flex;
  justify-content: center;
}

.ql-toolbar.ql-snow,
.ql-container.ql-snow {
  border: 1px solid #e0e2e7 !important;
}
.ql-toolbar.ql-snow + .ql-container.ql-snow {
  border-top: 0 !important;
}
.ql-toolbar {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.ql-container {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border: none;
}

.scrollBody {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  will-change: transform;
}
